.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020617;
}

.register-card {
  background: #020c1b;
  padding: 40px;
  border-radius: 12px;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #1e293b;
}

.register-card h2 {
  color: white;
  text-align: center;
}

.register-card input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #334155;
  background: transparent;
  color: white;
}

.register-card button {
  padding: 10px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}